<!DOCTYPE html>

<html>

<head>
  <title>Kirjaudu sisään</title>
</head>

<body>

  <h1>Kirjaudu sisään</h1>

  {% if error %}
  <p style="color: red;">VIRHE: {{ error }}</p>
  {% endif %}

  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ username or '' }}" />
    </p>

    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>

    <input type="submit" value="Kirjaudu sisään" />
  </form>

  <p>
    <a href="/register">Luo tunnus</a>
  </p>

</body>

</html>