<!DOCTYPE html>

<html>

<head>
  <title>Viestit</title>
</head>

<body>

  <div style="text-align: right;">
    {% if session.username %}
    Kirjautuneena sisään <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    <a href="/messages">Viestit</a>
    {% endif %}
  </div>

  <h1>Viestit</h1>

  <h2>Uudet viestit</h2>

  {% if error %}
  <p style="color: red;">VIRHE: {{ error }}</p>
  {% endif %}

  {% if messages %}

  {% for message in messages %}

  <hr />

  <p>
    Ilmoitus: <a href="/message_item/{{ message.item_id }}">{{ message.item_title }}</a> <br />
    Lähettäjä: <a href="/user/{{ message.sender_id }}">{{ message.sender_username }}</a> <br />
    Vastaanottaja: <a href="/user/{{ message.receiver_id }}">{{ message.receiver_username }}</a> <br />
    Lähetetty: {{ message.created_at }}
  </p>

  <p>
    {{ message.content }}
  </p>

  {% endfor %}

  {% else %}

  <p>Ei viestejä.</p>

  {% endif %}

  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>

</body>

</html>