 <div style="text-align: right;">
    {% if session.username %}
    Kirjautuneena sisään <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    <a href="/messages">Viestit</a>
    {% endif %}
  </div>

<h1>Viestit</h1>

<h2>Viestiketjut</h2>

{% if error %}
  <p>VIRHE: {{ error }}</p>
{% endif %}

{% if messages %}
  {% for message in messages %}
    <hr>

    <p>
      Ilmoitus:
      <a href="/item/{{ message.item_id }}">{{ message.item_title }}</a>
    </p>

    <p>
      Lähettäjä:
      <a href="/user/{{ message.sender_id }}">{{ message.sender_username }}</a>
    </p>

    <p>
      Vastaanottaja:
      <a href="/user/{{ message.receiver_id }}">{{ message.receiver_username }}</a>
    </p>

    <p>
      Lähetetty: {{ message.created_at }}
    </p>

    <p>
      {{ message.content }}
    </p>

    <p>
      <a href="/messages/{{ message.thread_id }}">Avaa keskustelu</a>
    </p>
  {% endfor %}
{% else %}
  <p>Ei viestejä.</p>
{% endif %}

<p>
  <a href="/">Takaisin etusivulle</a>
</p>