<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
  <div style="text-align: right;">
    {% if session.username %}
    Kirjautuneena sisään <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    {% endif %}
  </div>

  <h1>Uusi ilmoitus</h1>

  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" />
    </p>

    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="50"></textarea>
    </p>

    <p>
      Luokitus: <br />
      <select name="category">
        {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
      </select>
    </p>

    <p>
      Sijainti: <br />
      <input type="text" name="location" />
    </p>

    <p>
      Maksettava palkkio: <br />
      <input type="text" name="reward" /> €
    </p>

    <input type="submit" value="Luo ilmoitus" />
  </form>

  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>
</body>

</html>