<!DOCTYPE html>

<html>

<head>
  <title>Luo tunnus</title>
</head>

<body>
  <h1>Luo tunnus</h1>

  {% if error %}
  <p style="color: red;">VIRHE: {{ error }}</p>
  {% endif %}

  <form action="/create" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ username or '' }}" required />
    </p>

    <p>
      Salasana: <br />
      <input type="password" name="password1" required minlength="4" />
    </p>

    <p>
      <small> Salasanan minimipituus 4 merkkiä</small>
    </p>

    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" required minlength="4" />
    </p>

    <input type="submit" value="Luo tunnus" />
  </form>

  <p>
    <a href="/login">Kirjaudu sisään</a>
  </p>
</body>

</html>