<!DOCTYPE html>

<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>

  <div style="text-align: right;">
    {% if session.username %}
    Kirjautuneena sisään <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    <a href="/messages">Viestit</a>
    {% endif %}
  </div>

<div style="max-width: 700px; margin: auto;">

  <h1 style="text-align: center;" >{{ item.title }}</h1>

  <p>
    Ilmoittaja: <a href="/user/{{ item.user_id }}">{{ item.username }}</a> <br />
    Luokitus: {{ item.category }} <br />
    Sijainti: {{ item.location if item.location else "-" }} <br />
    Palkkio: {{ item.reward }} € <br />
    Lisätty: {{ item.created_at }}
  </p>

  <p>
    {{ item.description }}
  </p>

  {% if session.user_id and session.user_id == item.user_id %}

  <p>
    <a href="/edit_item/{{ item.id }}">Muokkaa ilmoitusta</a>
  </p>

  {% endif %}

  {% if session.user_id and session.user_id != item.user_id %}

  <p>
    <a href="/contact/{{ item.id }}">Ota yhteyttä</a>
  </p>

  {% endif %}

  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>

</div>

</body>

</html>