<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
  <div style="text-align: right;">
    {% if session.username %}
    Kirjautuneena sisään <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    {% endif %}
  </div>

  <h1>{{ item.title }}</h1>

  <p>
    Ilmoittaja: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
  </p>

  <p>
    Luokitus: {{ item.category }}
  </p>

  <p>
    Sijainti: {{ item.location if item.location else "-" }}
  </p>

  <p>
    Palkkio: {{ item.reward }} €
  </p>

  <p>
    Lisätty: {{ item.created_at }}
  </p>

  <p>
    {{ item.description }}
  </p>

  {% if session.user_id and session.user_id == item.user_id %}
  <p>
    <a href="/edit_item/{{ item.id }}">Muokkaa ilmoitusta</a>
  </p>

  <form action="/delete_item/{{ item.id }}" method="post">
    <input type="submit" value="Poista ilmoitus" />
  </form>
  {% endif %}

  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>
</body>

</html>